body,
html {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: "Helvetica Neue", serif;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

header {
    position: fixed;
    top: 0px;
    display: flex;
    background-color: black;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

header img {
    border-radius: 50%;
}

header h1 {
    color: white;
}

nav ul li {
    float: right;
    color: white;
    margin: 5px;
}

a {
    color: white;
}


.description img {
    float: left;
    padding-top: 10px;
}

.description {
    background-color: #F1F1F1;
    margin-left: 5%;
    margin-right: 5%;
    padding-top: 80px;
}


.relationship {
    background-color: white;
    margin-left: 5%;
    margin-right: 5%;
}



.description-p2 {
    clear: left;
}

.relationship img {
    float: right;
}

footer {
    clear: right;
    background-color: gray;
    height: 50px;
    text-align: center;
    line-height: 50px;
}



